
@import './login.css';

.box {
  width: 300px;
  height: 400px;
  border:1px solid #000;
  &-title {
    height: 30px;
    line-height: 30px;
    background: #fcf;
  }
}

.extend_box {
  @extend .box;
  font-size: 16px;
}